[user]
    name = kyleAmadeous
    email = pinkrich@gmail.com

[init]
    defaultBranch = main

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate -20
    last = log -1 HEAD
    unstage = reset HEAD --

[color]
    ui = auto
